# .dockerignore

# Node modules
node_modules

# Logs
logs
*.log

# Test files
__tests__
*.test.js
*.spec.js

# Configuration files
.env
.env.*

# IDE files
.vscode
.idea

# Coverage
coverage

# Build artifacts
dist
build

# Dependency directories
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store